input, textarea {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  all: unset;
}

input:focus, textarea:focus {
  outline: 1px solid var(--ui-color-black);
  outline-offset: 2px;
}

.input {
  height: var(--ui-input-height-l);
  font: var(--ui-font-text);
  display: flex;
  align-items: center;
  border-radius: var(--ui-border-radius-l);
  background-color: var(--ui-color-white-smoke);
  padding-inline: var(--ui-spacing-s);
}

.input::placeholder {
  color: var(--ui-color-gray);
}

.textarea {
  height: var(--ui-input-height-l);
  padding: var(--ui-spacing-s);
  font: var(--ui-font-text);
  display: flex;
  align-items: center;
  border-radius: var(--ui-border-radius-l);
  background-color: var(--ui-color-white-smoke);
}

.textarea::placeholder {
  color: var(--ui-color-gray);
}

.file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.file-upload input[type="file"] {
  display: none;
}
